<section class="py-5">
  <div id="box-mais-buscadas">
    <h2> Nuvem de Tags</h2>
  
    <% @tags_data.each do |tag_title, count| %>
    <p class="tags">
      <%= link_to tag_title, contents_path(tags: [tag_title]), class: (count > 9 ? "t9" : "t#{count}")  %>  
    </p>
    <% end %>
  </div>
</section>
